{{ define "title" }}
<title>_(:з」∠)_ | 何夜无月，逝者如斯</title>
{{ end }} {{ define "main" }}
<div class="page404">
    <div class="ui segments">
        <div class="ui segment">
            <h3>404 TODO</h3>
        </div>
        <div class="ui segment">
            <div id="todo" class="ui list">
                {{ range .Site.Data.todolist }}
                <div class="item">
                    <i class="edit icon"></i> {{ . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}