{{ define "meta" }}
<meta name="keywords" content="编程,计算机科学,代码,开源,技术文章,技术笔记,IT,开发者,程序员,极客">
<meta name="description" content="何夜无月，逝者如斯">
{{ end }}

{{ define "title" }}
<title>{{ .Site.Title }} | 何夜无月，逝者如斯</title>
{{ end }}

{{ define "main" }}
<div id="main-content">
    <div class="left-content">
        {{ $paginator := .Paginate (where $.Site.RegularPages "Type" "in" "tech essay") }}
        {{ range $paginator.Pages }} {{ .Render "overview-item" }} {{ end }}
        <!---->
        {{ partial "pagination.html" $paginator }}
        <!---->
        {{ partial "debug.html" . }}
    </div>
    <div class="right-content">
        {{ partial "sidebar.html" . }}
        <!---->
        {{ partial "footer.html" . }}
    </div>
</div>
{{ end }}