<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {{ partial "meta.html" . }}
    <meta name="keywords" content="编程,计算机科学,代码,开源,技术文章,技术笔记,IT,开发者,程序员,极客">
    <meta name="description" content="何夜无月，逝者如斯">
    <!---->
    {{ partial "css.html" . }}
    <title>{{ .Site.Title }} | 何夜无月，逝者如斯</title>
</head>

<body>
    {{ partial "header.html" . }}
    <main class="main content">
        <div class="ui grid container">
            <div class="eleven wide column">
                {{ range (.Paginate .Data.Pages).Pages }}
                <div class="ui segments">
                    <div class="ui segment">
                        <a href="{{ .Permalink }}">
                            <h2 class="ui header">{{ .Title }}</h2>
                        </a>
                    </div>
                    <div class="ui segment">
                        <div class="ui breadcrumb">
                            <div class="section"><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="{{ .Lastmod.Format " 2006-01-02T15:04:05JST " }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time></div>
                            {{ with .Section }}
                            <div class="section"><i class="fa fa-bookmark" aria-hidden="true"></i><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ . }}</a></div>{{ end }}
                            <div class="section">{{ .WordCount }} Words</div>
                            <div class="section" style="color: #2196f3;">DRAFT</div>
                        </div>
                    </div>
                    <div class="ui segment">{{ .Summary }}</div>
                </div>
                {{ end }}
                <div class="ui divider"></div>
                {{ partial "pagination.html" . }}
            </div>
            <div class="five wide column">
                <div class="ui card">
                    <div class="content">
                        test
                    </div>
                    <div class="content">
                        test
                    </div>
                    <div class="content">
                        test
                    </div>
                </div>
                <div class="ui card">
                    <div class="content">
                        test
                    </div>
                    <div class="content">
                        test
                    </div>
                    <div class="content">
                        test
                    </div>
                </div>
                <div class="ui card">
                    <div class="content">
                        test
                    </div>
                    <div class="content">
                        test
                    </div>
                    <div class="content">
                        test
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{ partial "footer.html" . }} {{ partial "script.html" . }}
</body>

</html>