{{ define "title" }}
<title>标签：{{ .Title }} | {{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
<div class="ui stackable grid container">
    <div id="left-content" class="eleven wide column">
        <h1><i class="tag icon"></i> {{ .Title }}</h1>
        {{ range .Paginator.Pages }} {{ .Render "overview-item" }} {{ end }}
        <!---->
        {{ partial "pagination.html" .Paginator }}
        <!---->
        {{ partial "debug.html" . }}
    </div>
    <div id="right-content" class="five wide column">
        {{ partial "sidebar.html" . }}
        <!---->
        {{ partial "footer.html" . }}
    </div>
</div>
{{ end }}