<div class="ui segments">
    <div class="ui segment">
        <a href="{{ .Permalink }}">
            <h1 class="ui header">{{ .Title }}</h1>
        </a>
    </div>
    <div id="article-info" class="ui segment">
        <div class="ui breadcrumb">
            <div class="section"><i class="fa fa-calendar" aria-hidden="true"></i>{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</div>
            {{ with .Section }}
            <div class="section"><i class="fa fa-bookmark" aria-hidden="true"></i> <a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ . }}</a></div>{{ end }}
            <div class="section">{{ .WordCount }} Words</div>
        </div>
    </div>
    <div class="ui segment">{{ if (.Scratch.Get "isHome") }}{{ .Summary }}{{else}}{{ .Content }}{{ end }}</div>
</div>