{{ if $.Site.Params.debug }}
<div class="ui divider"></div>
<debug>
    <div class="ui warning message">
        <div class="header">.</div>
        {{ printf "%#v" . }}
    </div>
    <div class="ui warning message">
        <div class="header">.Kind</div>
        {{ printf "%#v" .Kind }}
        <div class="header">.Data</div>
        {{ printf "%#v" .Data }}
        <div class="header">.Site.Pages</div>
        {{ range .Site.Pages }}
        {{.Title }} {{ .Type }}
        {{ end }}
        <div class="header">.Site.Sections</div>
        {{ printf "%#v" .Site.Sections }}
    </div>
    {{ if ne .Kind "page" }}
    <div class="ui warning message">
        {{ with .Paginator }}
        <div class="header">.Paginator</div>
        {{ printf "%#v" . }}
        <div class="header">.Paginator.TotalPages</div>
        {{ printf "%#v" .TotalPages }}
        <div class="header">.Paginator.TotalNumberOfElements</div>
        {{ printf "%#v" .TotalNumberOfElements }}
        <div class="header">.Paginator.Pages</div>
        <div class="ui list">
            {{ range .Pages }}
            <div class="item">{{.Title }} | {{ .Type }} | {{ .Kind }} | {{ .File.Path }} | {{ .File.Dir }}</div>
            {{ end }}
        </div>
        <div class="header">.Paginator.Pagers</div>
        {{ printf "%#v" .Pagers }}
        <!---->
        {{ end }}
        <div class="header">test</div>
    </div>
    {{ end }}
    <div class="ui warning message">
        {{ with $.Site.Taxonomies }}
        <div class="header">$.Site.Taxonomies</div>
        {{ printf "%#v" . }}
        <div class="header">$.Site.Taxonomies.tags</div>
        {{ printf "%#v" .tags }}
        <!---->
        {{ end }}
    </div>
    <div class="ui warning message">
        {{ with $.Site.Pages.GroupBy "Section" }}
        <div class="header">$.Site.Pages.GroupBy "Section"</div>
        {{ printf "%#v" . }}
        <!---->
        {{ end }}
        <!---->
        {{ with $.Site.Pages.GroupByDate "2006" }}
        <div class="header">$.Site.Pages.GroupByDate "2006"</div>
        {{ printf "%#v" . }}
        <!---->
        {{ end }}
        <!---->
        {{ with $.Site.Pages.GroupByDate "2016" }}
        <div class="header">$.Site.Pages.GroupByDate "2016"</div>
        {{ printf "%#v" . }}
        <!---->
        {{ end }}
    </div>
</debug>
{{ end }}