<header class="l-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ .Site.BaseURL }}">主页</a></li>
                    <li><a href="{{ .Site.BaseURL }}/archives/">文章<span class="badge">{{ len .Site.Sections.articles }}</span></a></li>
                    <li><a href="{{ .Site.BaseURL }}">专题<span class="badge">{{ len .Site.Taxonomies.series }}</span></a></li>
                    <li><a href="{{ .Site.BaseURL }}">项目<span class="badge">{{ len .Site.Taxonomies.projects }}</span></a></li>
                    <li><a href="{{ .Site.BaseURL }}">关于</a></li>
                    <li>
                        <form class="navbar-form navbar-left form-inline" role="search">
                            <div id="search-container" >
                                <input type="text" id="search-input" class="form-control" placeholder="Search...">
                                <ul id="results-container" class="list-group"></ul>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>