<header class="l-header">
    <nav>
        <div class="ui grid container">
            <div class="ui circular labels">
                <div id="nav-menu" class="ui top fixed menu">
                    <a class="item" href="{{ .Site.BaseURL }}">
                        <b><i class="home icon"></i>{{ .Site.Title }}</b>
                    </a>
                    <a class="item" href="{{ .Site.BaseURL }}">
                        <i class="archive icon"></i>文章<span class="ui label">{{ len .Site.Sections.articles }}</span>
                    </a>
                    <a class="item" href="{{ .Site.BaseURL }}">
                        <i class="block layout icon"></i>专题<span class="ui label">{{ len .Site.Taxonomies.series }}</span>
                    </a>
                    <a class="item" href="{{ .Site.BaseURL }}">
                        <i class="github alternate icon"></i>项目<span class="ui label">{{ len .Site.Taxonomies.projects }}</span>
                    </a>
                    <a class="ui dropdown item" href="{{ .Site.BaseURL }}">
                        <i class="grid layout icon"></i><span class="text">关于</span>
                        <div class="menu">
                            <div class="item">
                                <span class="text">Categories</span>
                                <div class="menu">
                                    <div class="item">Unread</div>
                                    <div class="item">Promotions</div>
                                    <div class="item">Updates</div>
                                </div>
                            </div>
                            <div class="item">Archive</div>
                        </div>
                    </a>
                    <div class="right item">
                        <form role="search">
                            <div id="search-container">
                                <div class="ui icon input">
                                    <input type="text" id="search-input" placeholder="Search...">
                                    <i class="circular search link icon"></i>
                                </div>
                                <ul style="margin-top: 0px; margin-bottom: 0px;" id="results-container"></ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>