<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="//cdn.bootcss.com/velocity/1.4.1/velocity.min.js"></script>
<script src="//cdn.bootcss.com/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/g/lightgallery,lg-autoplay,lg-fullscreen,lg-pager,lg-thumbnail,lg-zoom"></script>
<script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/js/search.js"></script>
<script src="/js/toc.js"></script>
<script src="/js/load.js"></script>