<div class="ui card">
    <div class="content">
        test
    </div>
    <div class="content">
        test
    </div>
    <div class="content">
        test
    </div>
</div>
<div class="ui card">
    <div class="content">
        test
    </div>
    <div class="content">
        test
    </div>
    <div class="content">
        test
    </div>
</div>
<div class="ui card">
    <div class="content">
        test
    </div>
    <div class="content">
        test
    </div>
    <div class="content">
        test
    </div>
</div>