<div id="info-card" class="ui card">
    <div class="image">
        <img src="/img/moon.png">
    </div>
    <div class="content" style="text-align: center">
        <div class="header">ChaneyZorn</div>
        <div style="margin-top: .5em" class="meta">
            <i class="marker icon"></i>Wuhan
            <i></i>
            <i></i>
            <i class="divider"> | </i>
            <i></i>
            <i class="student icon"></i>HUST
            <i></i>
        </div>
        <div class="description">
            高山仰止 景行行止 虽不能至 心向往之
        </div>
    </div>
    <div id="social-icons">
        {{ range .Site.Menus.social }}<a target="_blank" href="{{ .URL }}">{{ .Pre }}</a>{{ end }}
    </div>
</div>
<div id="tags-clouds" class="ui segments">
    <div class="ui segment">
        <h3><i class="tags icon"></i> 标签云</h3>
    </div>
    <div class="ui segment">
        <div class="ui horizontal list">
            {{ range $key, $value := $.Site.Taxonomies.tags }}
            <div class="item">
                <div class="ui label">
                    <a href="/tags/{{ $key | urlize }}/"><i class="tag icon"></i>{{ $key }}</a>
                    <div class="detail">{{ len $value }}</div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<div class="ui segments">
    <div class="ui segment">
        <h3><i class="users icon"></i> 友链</h3>
    </div>
    {{ range .Site.Menus.links }}
    <div class="ui segment">
        <i class="linkify icon"></i><a class="underline" target="_blank" href="{{ .URL }}">{{ .Name }}</a>
    </div>
    {{ end }}
</div>
{{ partial "footer.html" . }}