/*全局*/

body {
    background: #f7f8fa;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.main.content {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
}


/*导航栏*/

#nav-menu {
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
}

.ui.menu {
    font-size: 1.1rem;
}

.ui.menu .item {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.ui.menu .item:before {
    background: rgba(255, 255, 255, 0);
}

.ui.dropdown .menu>.header {
    font-size: 1em;
}

.ui.menu .dropdown.item .menu {
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
}

#search-input {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background: #f7f8fa;
    border: none;
    transition: background 0.5s;
}

#search-input:focus {
    background: #ffeff5;
}

.ui.icon.input>i.circular.icon {
    top: 0.25em;
}


/*文章条目*/

.ui.segments {
    margin: 2em 0em 2em 0em;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
}

.ui.segments>.segment {
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-top: 1px solid #e7eaf1;
}

.ui.breadcrumb>.section {
    padding-right: 0.6em;
}

#article-header {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    transition: 0.2s;
}

#article-header:hover {
    background: #e9f0f4;
    box-shadow: 0 5px 10px rgba(0, 37, 55, .05);
}

#article-header a {
    display: flex;
}

#article-info {
    padding: 0.2em 1.5em 0.5em 1.5em;
    background: #f7f8fa;
}

#article-tags {
    padding-left: 0.6em;
    border-left: 1px solid #d3d9e6;
}

#article-tag {
    padding-right: 0.5em;
}

#article-content {
    font-size: 16px;
    line-height: 26px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}


/*页脚*/

#footer-info {
    padding-left: 10%;
    padding-right: 10%;
    margin: 1em 1em;
}

#footer-nav {
    margin-bottom: 1em;
    display: block;
}

#footer-copyright {
    display: block;
}