<div class="ui segments">
    <div class="ui segment">
        <a id="session-link" class="ui blue right ribbon label" href="/tech/">技术</a>
        <h1>{{ .Title }}</h1>
    </div>
    <div id="article-info" class="ui segment">
        <div class="ui breadcrumb">
            <div class="section"><i class="calendar icon"></i> {{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</div>
            <div id="word-count" class="section"><span>{{ .WordCount }} Words</span></div>
            {{ with .Params.tags }}
            <div id="article-tags" class="section underline">
                {{ range . }}<i class="tag icon"></i><a id="article-tag" href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    <div id="article-content" class="ui segment">{{ .Content }}</div>
</div>