<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{ partial "meta.html" . }}
    {{ block "meta" . }}{{ end }}
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.9.0/styles/solarized-light.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
    <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
  </head>

  <body>
    {{ partial "header.html" . }}
    <main>
      <div class="container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
