<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {{ partial "meta.html" . }}
    <!---->
    {{ block "meta" . }}{{ end }}
    <!---->
    {{ partial "css.html" . }}
    <!---->
    {{ block "title" . }}{{ end }}
    <!---->
    {{ block "style" .}}{{ end }}
</head>

<body>
    {{ partial "header.html" . }}
    <main class="main content">
        {{ block "main" . }}{{ end }}
        <div id="back-top">
            <button class="back-top" tabindex="0"><i class="fa fa-arrow-up"></i></button>
        </div>
    </main>
    {{ partial "script.html" . }}
</body>

</html>