{{ define "title" }}
<title>时间线 | {{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
<div class="ui stackable grid container">
    <div id="left-content" class="eleven wide column">
        <h1><i class="write icon"></i> 时间线</h1>
        {{ range (.Paginate (where $.Site.Pages "Type" "in" "tech essay")).Pages }} {{ .Render "overview-item" }} {{ end }}
        <!---->
        {{ partial "pagination.html" . }}
        <!---->
        {{ partial "debug.html" . }}
    </div>
    <div id="right-content" class="five wide column">
        {{ partial "sidebar.html" . }}
        <!---->
        {{ partial "footer.html" . }}
    </div>
</div>
{{ end }}