{{ define "meta" }}{{ partial "single_meta.html" . }}{{ end }}

{{ define "title" }}<title>{{ .Title }} | {{ .Site.Title }}</title>{{ end }}

{{ define "main" }}
<div id="main-content">
    <div class="left-content">
        {{ .Render "content" }}
    </div>
    <div id="sidebar" class="right-content sidebar-show">
        <div>
            {{ partial "sidebar.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>
<div id="TOC-container" class="toc-hide">
    <div id="TOC">
        <div id="toc-content" class="right-content">
            <button id="toc-button" class="ui top attached blue button">文章目录</button>
            {{ .TableOfContents }}
        </div>
    </div>
</div>
{{ end }}