<!--dimmer,float,src,title,caption,lightgallery-->
<figure class="lg-img {{ if .Get "position" }}{{ .Get "position" }} floated{{ end }}" data-src="{{ .Get "src" }}" {{ if not (.Get "download") }}data-download-url="false"{{ end }} data-sub-html=".caption">
    <img class="ui rounded image" src="{{ .Get "src" }}">
    <div style="display:none" class="caption">
        <h4>{{ if .Get "title" }}{{ .Get "title" }}{{else}}{{ .Get "src" }}{{ end }}</h4>
        {{ if .Get "caption" }}
        <p>{{ .Get "caption" }}</p>
        {{ end }}
    </div>
    <div class="ui dimmer">
        <div class="content">
            <div class="center">
                <i class="fa fa-eye"></i>
            </div>
        </div>
    </div>
</figure>