<!--dimmer,float,src,title,caption,lightgallery-->
<figure class="lg-img {{ if .Get "position" }}{{ .Get "position" }} floated{{ end }}" data-src="{{ .Get "src" }}"  data-sub-html=".caption">
    <img class="ui rounded image" src="{{ .Get "src" }}">
    <div style="display:none" class="caption">
        {{ if .Get "title" }}
        <h3>{{ .Get "title" }}{{else}}{{ .Get "src" }}</h3>
        {{ end }}
        {{ if .Get "caption" }}
        <p>{{ .Get "caption" }}</p>
        {{ end }}
    </div>
    <div class="ui dimmer">
        <div class="content">
            <div class="center">
                <i class="fa fa-eye"></i>
            </div>
        </div>
    </div>
</figure>